.sampleform1 {
    border-radius: 0px;
    border: Solid 1px rgb(158, 158, 158);
    padding: 20px;
    margin: 10px;
}

.heading {
    font-size: 20px;
    font-weight: bold;
}

.nametxtbox {
    height: 20px;
    font-size: 12px;
}

#fname{
 height:30px;
 width: 100%;
 font-size: 12px;
}

#lname{
    height:30px;
    width: 100%;
    font-size: 12px;
}

#email{
    height:30px;
    width: 100%;  
}
span {
    color: red;
}

.normaltext {
    font-size: 10px;
}

/* * {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
} */
/* 
*{
    margin: 0;
    padding: 0;
}
.rate {
    border: 1px solid #cccccc;
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
} */

div.star{
    font-size: xx-large;
    color: rgba(240, 204, 2, 0.959);
}
div.star:hover{
    font-size: xx-large;
    color: yellow;
    tez
}
table {
    border-collapse: collapse;
    font-size: 17px;
    width: 100%;
}

td,
th {
    border: 0px solid #dddddd;
    text-align: center;
    padding: 10px;
    width: 15%;
    font-weight: normal;
}

.tablerow {
    text-align: left;
}

.rowwidth {
    height: 50px;
    text-align: center;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

textarea{
    width: 100%;;
    height: 100%;
}
.submitbtton {
    padding: 50px 75px;
    text-align: center;
    font-size: 30px;
    background-color: #e7e7e7; 
    color: black;
}
table{
    border-radius: 2px;
}
/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */